.form {
	display: flex;
    
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
td {
	border: 1px;
}

body {
	color: black;
	background-color: rgb(254, 255, 255);
}
.table-striped, th, td {
	border: 1px solid black;
}