<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
	<head>
		<title>Car</title>
	</head>
	
	<body>
		<div>
		<h2>Updating Car</h2>
		<form action="" method="post">
			<div>
				<div> ModelName <input type="text" th:field="${car.modelName}"/></div>
			</div>
			<div> <input type="hidden" th:field=${car.id}> </div>
			<div> MotorSize <input type="text" th:field="${car.motorSize}"/> </div>
	        <div> WheelSize <input type="text" th:field="${car.wheelSize}"/></div>
	       	<div> TransmissionType <input type="text" th:field="${car.transmission}" /></div> 
	       	<div> Color <input type="text" th:field="${car.color}"/></div> 
	       	<div> Year <input type="text" th:field=${car.year}/></div> 
	       	<div> Price <input type="text" th:field="${car.price}"/></div>
	       	<button >Submit</button>
		</form>
		<form th:action="@{/car/{carId}/delete(carId=${car.id})}" method="post">
			<button>Delete</button>
		</form>
		</div>
	</body>
	
</html>
