<!DOCTYPE html>
<html xmlns:th=http://www.thymeleaf.org>
<head>
<title>All cars</title>

<link rel = "stylesheet" type = "text/css" href="style.css">
</head>
<body>
<h1>Here are all the cars!</h1>
<table class="table-striped">
                <thead>
                <tr>
                    <th>Model Name</th>
                    <th>Motor Size</th>
                    <th>Wheel Size</th>
                    <th>Transmission</th>
                    <th>Color</th>
                    <th>Year</th>
                    <th>Price</th>
                    
                </tr>
                </thead>
                <tbody>

                    <tr th:each="cars : ${list}">
                    
                   <td> <a th:href="@{/car/{carId}(carId=${cars.id})}" >[[${cars.modelName}]] </a> </td>
                   <td th:text="${cars.motorSize}" > </td>
                   <td th:text="${cars.wheelSize}"></td>
                   <td th:text="${cars.transmission}"></td>
                   <td th:text="${cars.color}"></td>
                   <td th:text="${cars.year}"></td>
                   <td th:text="${cars.price}"></td>

                    </tr>   

                </tbody>
</table>
	<a href="/" >Home</a>
</body>
</html>