<!DOCTYPE html>
<html lang="en">
<head>
  <title>Hello, world!</title>
  <link rel = "stylesheet" type = "text/css" href="style.css">
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="description" content="" />
</head>
<body>
  
  <div class = "form">
  	<form action="" method="post" class = "form">
        <p>Hello, Cars!</p>
        <div> ModelName <input/></div>
        <div> WheelSize <input/></div>
        <div> TransmissionType <input/></div> 
        <div> Color <input/></div> 
        <div> Year <input/></div> 
        <div> Price <input/></div>
        <button >Submit </button>
   </form>
  </div>
</body>
</html>
