<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
	<head>
	  <title>Hello, world!</title>
	  <link rel = "stylesheet" type = "text/css" href="style.css">
	  <meta charset="UTF-8" />
	  <meta name="viewport" content="width=device-width,initial-scale=1" />
	  <meta name="description" content="" />
	</head>
	
	<body>
  		<div class = "form">
		  	<form action="" method="post" class = "form">
	    	    <p>Hello, Cars!</p>
	        	<div class="LBL"> ModelName <input type="text" th:field="${car.modelName}"/></div>
	        	<div class="LBL"> MotorSize <input type="text" th:field="${car.motorSize}"/> </div>
	        	<div class="LBL"> WheelSize <input type="text" th:field="${car.wheelSize}"/></div>
	        	<div class="LBL"> TransmissionType <input type="text" th:field="${car.transmission}" /></div> 
	        	<div class="LBL"> Color <input type="text" th:field="${car.color}"/></div> 
	        	<div class="LBL"> Year <input type="text" th:field=${car.year}/></div> 
	        	<div class="LBL"> Price <input type="text" th:field="${car.price}"/></div>
	        	<button >Submit</button>
	   		</form>
  		</div>
  		<div><a href="/">Back</a></div>
	</body>
	
</html>
