<!DOCTYPE html>
<html lang="en">
<head>
  <title>Hello, world!</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="description" content="" />
</head>
<body>
  <p>Hello, Cars!</p>
  	<form action="" method="post">
        <span> ModelName</span><input/> <br>
        <span> WheelSize</span><input/> <br>
        <span> TransmissionType</span><input/> <br>
        <span> Color</span><input/> <br>
        <span> Year</span><input/> <br>
        <span> Price</span><input/><br>
        <button >Submit</button>
   </form>
</body>
</html>
