<!DOCTYPE html>
<html>
    <head>
        <title>Hello, World!</title>
        
        <link rel = "stylesheet" type = "text/css" href="style.css">
    </head>
    <body>
        <p>Hello, Cars!</p>
        <span>ModelName</span><input placeholder = "Avalon"/> <br>
        <span>WheelSize</span><input  placeholder = "16"/> <br>
        <span>TransmissionType</span><input  placeholder = "Automatic"/> <br>
        <span>Color</span><input  placeholder = "White"/> <br>
        <span>Year</span><input  placeholder = "1997"/> <br>
        <span>Price</span><input  placeholder = "$300"/> <br>
        <button>Submit</button>
        <button>Delete</button>
        <button>Reset</button>
    </body>
</html>